body{
    /* text-align: center; */
    font-family: 'Lobster', cursive; 
     /* font-family: 'Roboto Condensed', sans-serif; */
}
#style{
    background-color: rgb(48, 7, 85);
    height: 100% ;
    width: 100%;
}
#blue{
    background-color: rgb(8, 8, 46);
    margin-top: 5000px;
    height: 4000px;
}
.a{
    width: 3cm;
    margin-left: 6%;
    margin-top: 1%;
    font-size: 800%;
    color: rgb(37, 19, 45);
}
table,tr{
   height: 100px;
    
}
#why{
    color: rgb(84, 49, 117);
    text-align: center;
    /* margin-top: 600px; */
    margin-bottom: 400px;
    font-weight: 900;
    font-size: 600%;
    letter-spacing: 10px;
    font-family: 'Fira Sans', sans-serif;
}
.why1{
    text-align: center;
    font-size: 150%;
    line-height: 130%;
    color: rgb(18, 9, 25);
    font-family: 'Mukta', sans-serif;

}
#a1{
    margin-left: 20%;
    word-spacing: 250px;
    font-size: 600%; 
    color: rgba(113, 50, 134, 0.996);
    
}
.a2{
    color: black;
    font-weight: 700;
}
#b{
    margin-top: 260px;
    font-size: 2000%;
    margin-left: 15%;
    line-height: 130%;
    color: rgb(18, 6, 49);
}
.c{
    margin-left: 40%;
    font-size: 400%;
    word-spacing: 40%;
}
#d{
    color: rgba(30, 20, 54, 0.996);
    margin-top: 2%;
    margin-left: 15%;
    font-size: 600%; 
    font-family: 'Lobster', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
.e{
    padding-top: 2%;
    padding-bottom: 60px;
    text-align: center;
    font-size: 600%;
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 100px;
    display: inline-block;
    color: antiquewhite;
    background-color: blueviolet;
    width: 20%;
    }
    #book{
        padding: 1%;
        text-align: center;
        font-size: 600%;
        margin-bottom: 100px;
        margin-left: 85%;
        border-radius: 100px;
        display: inline-block;
        color: antiquewhite;
        background-color: rgb(172, 63, 214);
        
    }
    .s1{
        font-size: 70px;
        text-align: center;
        color: white;
        padding-top: 100px;
        padding-bottom: 50px;
        font-family: 'Mukta', sans-serif;
    }
    .s2{
        font-size: 170px;
        text-align: center;
        color: white;
        /* margin-top: 50px; */
        font-family: 'Mukta', sans-serif;
    }
    .s3{
        font-size: 70px;
        text-align: center;
        color: white;
        padding-bottom: 50px;
        font-family: 'Mukta', sans-serif;

    }
    .s4{
        text-align: center;
        font-family: 'EB Garamond', serif;
        font-size: 300px;
        color: white;
    }
    .s5{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 100px;
        font-family: 'Mukta', sans-serif;
    }

    #color{
         
    background-image: linear-gradient(rgb(235, 200, 243),rgb(152, 41, 186));
    height: 3500px;
    
    }
    #color1{
       background-color: rgb(255, 255, 255);
       height: 1000px;
    }
    .th{
        font-family: 'Akshar', sans-serif;
        text-align: center;
        font-size: 150%;
        font-weight: 500;
        padding-bottom: 145%;
    }
    table{
        width: 120%;
        text-align: center ;
        padding-top: 5%;
        border: 1px, solid black;
        border-color: black;
        font-size: 500%;
        padding-left: 10%;
        padding-right:10%;
        width: fit-content;
        
       
    }
    td,tr{
        padding-top: 300px;
        padding-bottom: 35px;
        margin: auto;
        padding-left: 200px;
        padding-right: 200px;
        height: 500px;
    }
    #a3{
        text-align: center;
        margin-top: 250px;
        font-size: 160px;
        color: rgb(18, 2, 47);
        font-family: 'Mukta', sans-serif;

    }
    